@font-face {
	font-family: 'Red Hat Display 300';
	src: url('/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf')
		format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Red Hat Display 500';
	src: url('/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf')
		format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
